@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Roboto Slab', serif;
}
.textEffect{
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  -webkit-text-fill-color: transparent;
}

/* Custom Scrollbar Start*/
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #FF4331);
  border-radius: 6px;
}
/* Custom Scrollbar End*/
tr{
  border-bottom: 1px solid #03203C;
}
th{
  color: #03203C;
  text-transform: uppercase;
}